VITE_ADMIN_EMAIL=
VITE_ADMIN_PASSWORD=

VITE_SUPABASE_URL_STAGING=
VITE_SUPABASE_ANON_KEY_STAGING=
VITE_AUTH_SERVER_URL_STAGING=
VITE_VIDEOSDK_BASE_URL_STAGING=https://api.videosdk.live/v2

VITE_SUPABASE_URL_PRODUCTION=
VITE_SUPABASE_ANON_KEY_PRODUCTION=
VITE_AUTH_SERVER_URL_PRODUCTION=
VITE_VIDEOSDK_BASE_URL_PRODUCTION=https://api.videosdk.live/v2
